version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.13
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            pip install requests

      - run:
          name: Run triangle tests
          command: |
            python -m unittest -v

      - run:
          name: Run HW4a tests
          command: |
            python -m unittest discover -s GitHubApi567_hw4a -p "test_*.py" -v

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
